.main {
    width: 100%;
    height: 100%;
    color: aliceblue;
}

.main .container {
    height: 400px;
    width: auto;
    display: flex;
    flex-direction: column;
    /* float: right; */
}

.main .container .contant {
    height: fit-content;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.main .container .contant .bnlist {

    list-style-type: symbols("*");
    margin: 0;
    padding: 0px 40px 0 40px;

}

.main .container .contant .bnlist .con {
    padding-top: 20px;
}

.btn {
    height: 40px;
    width: 200px;
    background-color: cornsilk;
    color: black;
    border-radius: 25px;
    float: right;

}

.btn-main {
    height: 100%;
    width: 100%;
    float: right;
    /* padding-right: 220px; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.btn:hover {
    color: bisque;
    background-color: black;
    font-weight: 400;
    cursor: pointer;
}

/* Extra Small */
@media (max-width: 480px) {

    /* Styles for smartphones */
    .main .container {
        height: auto;
    }

    .btn-main {
        height: 100%;
        width: 100%;


    }
}

/* Small */
@media (max-width: 768px) {

    /* Styles for tablets */
    .main .container {
        height: auto;
        padding: 5px;
    }

    .btn-main {
        height: 100%;
        width: 100%;

    }

    .main .container .contant {
        height: fit-content;
        padding: 13px;
        display: flex;
        flex-direction: column;
    }

    .main .container .contant .h2 {
        font-size: 20px;

    }
}

/* Medium */
@media (max-width: 1024px) {
    /* Styles for laptops */
}

/* Large */
@media (max-width: 1200px) {
    /* Styles for desktops */
}